* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bg {
  z-index: -2;
  background-image: url("/assets/images/day/01.jpg");
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}


body {
  min-width: 320px;
  min-height: 320px; 
  font-family: Arial, monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #000000;
  transition: background-image 0.5s ease-in-out 0.4s;
  overflow: hidden; 
}

.overlay {
  z-index: -1;
  background-color: rgba(125, 125, 125, 0.25);
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;

}

.time {
  font-size: 8rem;
}

.date {
  font-size: 2rem;
  margin-top: 9rem;
}


h1 {
  margin-bottom: 1rem;
}

h2 {
  margin-bottom: 0.5rem;
  opacity: 0.8;
}


.name {
  display: inline-block;
  min-width: 40px;
} 

.focus {
  display: inline-block;
  min-width: 40px;
}

.btn {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 0;
  background: url("https://www.pngarts.com/files/7/Update-Button-PNG-Image.png");
  background-size: contain;
  background-repeat: no-repeat;
  filter: grayscale(1);
  opacity: 70%;
  z-index: 1;
  top: 2px;
  left: 2px;
}
.btn:hover {
  cursor: pointer;
  filter: grayscale(.8);
}
.btn:active,
.btn:focus {
  outline: 0;
}
.btn:active{
  transform: scale(1.02);
}

/*============= Quote ============*/

.quote {
  height: 150px; 
  font: 1.1rem Georgia, serif;
  margin-top: 1rem;
  padding: 5px;
  border-radius: 1em;
}
.quote figcaption,
.quote blockquote {
  margin: 1em;
}
.quote figcaption {
  text-align: right;
}

figcaption {
  font-size: 0.9rem;
}

.btn-quote {
  width: 40px;
  height: 40px;
  border: 0;
  background: url("https://www.pngarts.com/files/7/Update-Button-PNG-Image.png");
  background-size: contain;
  background-repeat: no-repeat;
  filter: grayscale(1);
  z-index: 2;
  position: absolute;
  bottom: 2px;
  left: 2px;
  opacity: 70%;
}
.btn-quote:hover {
  cursor: pointer;
  filter: grayscale(.2);
}
.btn-quote:active,
.btn-quote:focus {
  outline: 0;
}
.btn-quote:active{
  transform: scale(1.02);
}

/*============= Wether ============*/

.weather__widget {
   display: flex;
   flex-direction: column;
  width: auto;
  height: auto;
  position: absolute;
  right: 10px;
  top: 10px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 2px;
} 

.wether-main {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.city {  
  width: 100%;
  min-width: 100px;
  padding: 2px 0;
  margin: 5px auto;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.weather-description,
.temperature,
.humidity,
.wind-speed {
  width: 100%;
  font-size: 1rem;
  padding: 2px;
  color:#000;
  border-radius: 1px;
}
.weather-icon {
  font-size: 50px;
  color: #44aadd;
}
.weather-icon:hover {
  animation: shake 1.5s;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
}

/*============= Media ============*/

@media (max-width: 900px) {

  .btn,
  .btn-quote {
    width: 40px;
    height: 40px;
  }

  .time {
    font-size: 6rem;
    margin-bottom: 1rem;
  }

  h1 {
    font-size: 1.2rem;
  }
  
  h2 {
    font-size: 1.1rem;
  }
 
 .wether-main {
   display: flex;
   align-items: center;
 }
 
 .city {  
   font-size: 0.8rem;
 }

 .weather-icon {
   font-size: 35px;
 }
}

@media (max-width: 700px) {

  .weather-icon {
    font-size: 25px;
  }

  .weather-description,
  .temperature,
  .humidity,
  .wind-speed {
   font-size: 0.8rem;
  }
} 

@media (max-width: 480px) {

  .quote {
    font-size: 1.2rem;
  }

  .time {
    font-size: 4rem;
  }

  .btn,
  .btn-quote {
    width: 30px;
    height: 30px;
  }

}

