@font-face { 
    font-family: 'Roboto-regular'; 
    src: url('fonts/Roboto-Regular.woff2') format('woff2'), 
         url('fonts/Roboto-Regular.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; 
  }
  @font-face { 
    font-family: 'Roboto-light'; 
    src: url('fonts/Roboto-Light.woff2') format('woff2'), 
         url('fonts/Roboto-Light.woff') format('woff'); 
    font-weight: light; 
    font-style: normal; 
  }
  @font-face { 
    font-family: 'Roboto-Bold'; 
    src: url('fonts/Roboto-Bold.woff2') format('woff2'), 
         url('fonts/Roboto-Bold.woff') format('woff'); 
    font-weight: Bold; 
    font-style: Bold; 
  }
  @font-face { 
    font-family: 'Roboto-Medium'; 
    src: url('fonts/Roboto-Medium.woff2') format('woff2'), 
         url('fonts/Roboto-Medium.woff') format('woff'); 
    font-weight: light; 
    font-style: normal; 
  }
.header  {
    background-color: black;
    width: 1600px;
    height: 95px;
} 
h1 {
    height: 2px;
    opacity: 0;
}
.header .nav {
    color: white;
    padding-top: 2px;
    display: flex;
    width: 1600px;
    justify-content: center;
}
.header .nav li {
    width: 125px;
    list-style: none;
    align-self: center;
    font-family: 'Roboto-light';
    font-size: 14px;
}
.header .nav .href1 {
    margin-left: -26px;
    color: white;
} 
.header .nav .href2 {
    margin-left: -28px;
    color: white;
} 
.header .nav .href3 {
    margin-left: 20px;
    color: white;
} 
.header .nav .href4 {
    margin-left: 31px;
    color: white;
} 
.href, .href2, .href3, .href4 {
    color: white;
    text-decoration: none; 
}
.header a:hover {
    text-decoration: underline;
    font-family: 'Roboto-regular';
}
 #about-href {
    text-decoration: underline;
 }
 /* =========         your life is webdev     ================ */
.yourLifeIsWebdev {
    width: 1600px;
    height: 744px;
    margin-top: 0px;
} 
.wrapper1{
    background-image: url(assets/your\ life\ is\ webdev\ background.png);
    width: 1600px;
    height: 744px;
    color: white;
}
.yourLifeIsWebdev h2 {
    font-family: 'Roboto-Bold';
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: 75px;
letter-spacing: 4.5px;
text-align: center;
margin-top: 135px;
margin-bottom: 20px;
}
.yourLifeIsWebdev p{
font-family: "Roboto-regular";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 25px;
letter-spacing: 0px;
text-align: center;
width: ;
}
.paragr{
    height: 50px;
width: 504px;
margin-left: 548px;
}
 
.button{
    display: flex;
flex-direction: row;
padding: 15px 47px;
border: none;
position: absolute;
width: 184px;
height: 46px;
left: 717px;
top: 427px;
color: white;
background: #00AFDB;
}
.containerIco{
    display: flex;
flex-direction: row;
justify-content: space-between;
padding: 0px;

position: absolute;
width: 170px;
height: 20px;
left: 725px;
top: 655px;
}
.containerIco a {
   
}
.button:hover{
    background: #0028db;
}

/* ========= rappresent ==============*/
.wrapper2 {
    width: 1600px;
    height: 840px;
}
.screen2 {
color: black;
position: absolute;
width: 407px;
height: 380px;
left: 276px;
top: 1036px;
}
.button2 {
    padding: 15px 47px;
    width: 184px;
    height: 46px;
    color: white;
    background: #00AFDB;
    margin-bottom: 0px;
    border: none;
}
.screen2 p {
    height: 100px;
    font-family: 'Roboto-regular'; 
    font-size: 14px;
    letter-spacing: 0.1px;
    line-height: 20.5px;

}
.button2:hover{
    background: #0028db;
}
.imgContentContainer{
    position: absolute;
    left: 930px;
    top: 885px;

}
.wrapper2 h2{
    font-family: "Roboto-Bold";
    letter-spacing: 1.2px;
    width: 380px;
}
/*============= our community ============ */
.screen3{
    width: 1600px;
    height: 504px; 
    background: #F5F6F7;
}
.ourCommunitySliderButtons{
    margin-left: 1250px;
    margin-bottom: -5px;
    padding-top: 70px;
    display: flex; 
    width: 89px;
    height: 7px;

}
.ourCommunitySliderButtons p{
  
}
.ourCommunitySliderButtons a{
    margin-top: 17px;
}
.ourCommunitySliderButtons a:hover{
    opacity: .5;
}
.ourCommunitySlider {
    display: flex; 
    margin-top:  50px;
    margin-bottom: 20px;
    align-items: center;
    }
    
.ourCommunitySlider h3{
    font-family: "Roboto-Medium";
    font-weight: 400;
    letter-spacing: 2.4px;
    font-size: 15.5px;
}
.ourCommunitySlider p{
    font-family: 'Roboto-regular'; 
    margin-top: -10px;
    width: 276px;
    margin-left: -18px;
    font-size: 14px;
    line-height: 21.5px;
}
.screen3 .ownImgContainer-ourCommunity{
    display: -webkit-flex; 
    display: flex; 
    padding-left: 130px;
    padding-right: 0mm;
    margin-right: 0;
} 
 
.screen3 #ourCommunityBlock1{
    width: 298px;
    height: 175px;
    text-align: center;
    margin-left: 288px;
}
.screen3 .ourCommunityBlocksImg{
    flex: 1 1 auto;
    margin-left: 30px;
}
/* ============= implement================*/

.implement{
    width: 1600px;
    height: 842px;
    display: -webkit-flex; 
    display: flex; 
    /* align-items: center; */
}
.implement p{
    font-family: 'Roboto-regular'; 
    font-size: 14px;
    line-height: 140%;
}
.implement h2{
    margin-top: -11px;
    font-family: 'Roboto-Bold';
    letter-spacing: 1px;
}
.implement-photo{
    width: 407px;
    height: 582px;
    margin-left: 270px;
    margin-top: 120px;
}
.implement-content{
    width: 407px;
    height: 184px;
    margin-left: 135px;
    margin-top: 330px;

}
.button3 {
    padding: 15px 47px;
    width: 184px;
    height: 46px;
    color: white;
    background: #00AFDB;
    margin-bottom: 0px;
    margin-top: 18px ;
    border: none;
}
.button3:hover{
    background: #0028db;
}
/* ================Subscribe =======*/
.subscribe{
    width: 1600px;
    height: 522px;
    background-image: url(assets/5.png);
    display: -webkit-flex; 
    display: flex;
    justify-content: center;
}
.subscribe .subscribe-content {
    width: 406px;
    height: 104px;
    margin-top: 180px;
}
.subscribe h2 {
    color: white;
    font-family: 'Roboto-Bold';
    margin-left: 15px;
    letter-spacing: 1px;
}
.subscribe .form {
    margin-top: 30px;
}
.subscribe input {
    width: 330px;
    height: 41px;
}
#submit{
    background-image: url(assets/btn-submit.png);
    width: 66px;
    height: 46px;
    border: none;
}
.subscribe .form {
    display: flex;
}
#submit:hover {
    border: solid green;
}

/*================Download================*/
.download {
    width: 1600px;
    height: 347px;
}
.download h2{
    width: 260px;
    height: 28px;
    text-align: center ;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    font-family: 'Roboto-Bold';
    letter-spacing: 1px;

}
.download p{
    width: 483px;
    height: 40px;
    text-align: center ;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto-regular';
    font-size: 14px;
line-height: 140%;
}
.download img{
    width: 188px;
    height: 50px;
   }
.download .apple{
margin-right: 13px;
}
.download .play{
    margin-left: 13px;
}
.buttonsDiv{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 35px;
}
.download a:hover{
border: darkblue;
}
/*===========footer================*/
.footer{
    background-color: black;
    width: 1600px;
    height: 184px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white;
}
.footer .nav{
     margin-left: 123px;
     margin-top: -18px;
}
.footer a{
    color: white;
    text-decoration: none;
    font-family: 'Roboto-regular';
    font-size: 14px;
    line-height: 140%;
}
.footer li{
    display: inline;
}
.footer .nav img{
    margin: 0 15px;
    margin-top: -18px;
}
.footer .logo{
  margin-left: -64px; 
  margin-top: -18px; 
}
.footer .avtor {
    margin-right: 150px;
    margin-top: -18px;
}